#roles {
    position: relative;  
    width: 515px;
    padding: 10px;
    margin: 20px auto 0px auto;
    border: solid 1px #b3aca7;
    border-bottom: none;
    display: flex;
    justify-content: center;
}

button {
    position: relative;  
    width: 179px;
    padding: 10px;
    margin: -10px auto 15px auto;
    font-size: 0.975em;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #b3aca7;
    background-color: #fffaf7;
    outline:none;
    cursor: pointer;
    border: solid 1px #b3aca7;
    border-top: none;
    border-left: none;
  }

  button:hover {
    color: #e2dedb;
    background: #b3aca7;
    
  }