<h2>User Info Summary</h2>
 
 <div id="userInfoSummary">
  
    <div class="keyValuePair bottomBorder">
        <h5>First Name:</h5><span>{{theUser.firstName}}</span>
     </div>
     <div class="keyValuePair bottomBorder">
        <h5>Last Name:</h5><span>{{theUser.lastName}}</span>
     </div>
     <div class="keyValuePair bottomBorder">
        <h5>Email:</h5><span>{{theUser.email}}</span>
     </div>
    <div class="keyValuePair">
        <h5>Roles:</h5>
    </div> 
  <div class="userRole" *ngFor="let roleName of userRoles">
          <p>{{roleName}}</p>
  </div>  
 
 </div>  <!--End of userInfoSummary div -->
 
 <button (click)="editUserInfo()">Edit User</button>
 <!-- <button (click)="editUserRoles()">Edit User Roles</button> -->


 <button (click)="redirect()">Cancel</button>
 <button (click)="saveToDB()">Save</button>
