.option {
    width: 502px;
    height: 30px;
    padding: 0px 15px 0px 15px;
    color: #726659;
    display: flex;
    border-bottom: solid 1px #b3aca7;
    justify-content: flex-start;
  }
  
  input:hover, a:hover {
    background: #b3aca7;
    color: #e2dedb;
  }